.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h3 {
  font-size: 2.5rem;
  font-weight: 300;
  margin-bottom: 2rem;
}

.input {
  border: 1px solid #ddd;
  text-align: center;
}

.button,
.input {
  padding: 1rem 2rem;
  font-size: 2rem;
}

.button {
  color: #fff;
  background-color: #333;
  cursor: pointer;
  margin-bottom: 5rem;
}

.button:hover {
  color: #333;
  background-color: #fff;
  border: 1px solid #333;
}

@media only screen and (max-width: 1200px) {
  h3 {
    font-size: 1.8rem;
  }
  .button,
  .input {
    padding: 0.5rem 2rem;
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 650px) {
  .input {
    width: 60vw;
  }
  .button {
    width: 30vw;
  }
}
